Django==1.10
django-user-accounts==1.3.1
pinax-webanalytics==2.0.4
pinax-eventlog==1.1.2
pinax-theme-bootstrap==7.10.1
whitenoise==3.2.1

git+https://github.com/pinax/pinax-identity.git@356482af062769ecfb5e7d1bb4038ca65bcc1f5d#egg=pinax-identity
git+https://github.com/grahamu/django-oidc-provider.git@da19da285131d37fbfc09db3a2397ed496c881b4#egg=django-oidc-provider
